<table border="1" class="dataframe table table-striped bg-light">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>work_year</th>
      <th>experience_level</th>
      <th>employment_type</th>
      <th>job_title</th>
      <th>salary</th>
      <th>salary_currency</th>
      <th>salary_in_usd</th>
      <th>employee_residence</th>
      <th>remote_ratio</th>
      <th>company_location</th>
      <th>company_size</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>2022</td>
      <td>EN</td>
      <td>FT</td>
      <td>Machine Learning Engineer</td>
      <td>115000</td>
      <td>USD</td>
      <td>115000</td>
      <td>US</td>
      <td>50</td>
      <td>US</td>
      <td>L</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2022</td>
      <td>MI</td>
      <td>FT</td>
      <td>Machine Learning Engineer</td>
      <td>193900</td>
      <td>USD</td>
      <td>193900</td>
      <td>US</td>
      <td>0</td>
      <td>US</td>
      <td>M</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2022</td>
      <td>MI</td>
      <td>FT</td>
      <td>Machine Learning Engineer</td>
      <td>129300</td>
      <td>USD</td>
      <td>129300</td>
      <td>US</td>
      <td>0</td>
      <td>US</td>
      <td>M</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2022</td>
      <td>SE</td>
      <td>FT</td>
      <td>Data Scientist</td>
      <td>180000</td>
      <td>USD</td>
      <td>180000</td>
      <td>US</td>
      <td>100</td>
      <td>US</td>
      <td>L</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2022</td>
      <td>SE</td>
      <td>FT</td>
      <td>Data Scientist</td>
      <td>140000</td>
      <td>USD</td>
      <td>140000</td>
      <td>US</td>
      <td>100</td>
      <td>US</td>
      <td>L</td>
    </tr>
    <tr>
      <th>5</th>
      <td>2022</td>
      <td>MI</td>
      <td>FT</td>
      <td>Data Analyst</td>
      <td>216200</td>
      <td>USD</td>
      <td>216200</td>
      <td>US</td>
      <td>0</td>
      <td>US</td>
      <td>M</td>
    </tr>
    <tr>
      <th>6</th>
      <td>2022</td>
      <td>MI</td>
      <td>FT</td>
      <td>Data Analyst</td>
      <td>144100</td>
      <td>USD</td>
      <td>144100</td>
      <td>US</td>
      <td>0</td>
      <td>US</td>
      <td>M</td>
    </tr>
    <tr>
      <th>7</th>
      <td>2022</td>
      <td>SE</td>
      <td>FT</td>
      <td>Machine Learning Scientist</td>
      <td>216000</td>
      <td>USD</td>
      <td>216000</td>
      <td>US</td>
      <td>0</td>
      <td>US</td>
      <td>M</td>
    </tr>
    <tr>
      <th>8</th>
      <td>2022</td>
      <td>SE</td>
      <td>FT</td>
      <td>Machine Learning Scientist</td>
      <td>144000</td>
      <td>USD</td>
      <td>144000</td>
      <td>US</td>
      <td>0</td>
      <td>US</td>
      <td>M</td>
    </tr>
    <tr>
      <th>9</th>
      <td>2022</td>
      <td>EN</td>
      <td>FT</td>
      <td>Data Analyst</td>
      <td>150000</td>
      <td>USD</td>
      <td>150000</td>
      <td>US</td>
      <td>100</td>
      <td>US</td>
      <td>L</td>
    </tr>
  </tbody>
</table>