@model dynamic

@{
    ViewBag.ActiveContact = "active";
    Layout = "_Layout";
}


<section class="section-3 text-center">
    <img src="/images/bg1.jpg" class="tech-bg img-fluid" alt="top-6-tech"/>

    <div class="container h-100">
        <div class="d-flex h-100 align-items-center text-center">
            <div class="w-100 text-white">
                <div id="ai-jobs">
                    <h1 class="text-header display-3">Contact & About</h1>
                    <div class="row">
                        <div class="col-md-4 contact-col">
                            <hr>
                            <h4>Contact Us</h4>
                            <hr>
                            <p>This website was written by [your name]
                                <br/>To get in contact please email [link to your email address]</p>
                        </div>
                        <div class="col-md-4 contact-col">
                            <hr>
                            <h4>About Us</h4>
                            <hr>
                            <p>This website provides an introduction to Artificial Intelligence and was created as partial fulfillment of the assessment requirements of Web Design and Programming at the University of Canberra. 
                               <br/>This site is built on the ASP.NET CORE framework and employs Bootstrap responsive design techniques.</p>
                        </div>
                        <div class="col-md-4 contact-col">
                            <hr>
                            <h4>Copyright</h4>
                            <hr>
                            <p>All images used in this website were downloaded from <a href="https://fontawesome.com/">Unsplash</a>.
                                <br/>The icons for the footer from <a href="https://fonts.google.com/">fontawesome</a>.
                                <br/>The Anton font used for headers from <a href="https://www.kaggle.com/code/sowrabhghosh/data-science-salary-2020-22-analysis">Google Fonts</a>.
                                <br/>The AI jobs dataset from <a href="https://insights.ai-jobs.net">Insights</a>.
                                <br/>The Python source from <a href="https://www.kaggle.com/code/sowrabhghosh/data-science-salary-2020-22-analysis">Kaggle</a>.
                                <br/>The Python web based on PyScript from <a href="https://realpython.com/pyscript-python-in-browser/">Real Python</a>.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>